@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Finlandica:ital,wght@1,400;1,700&family=League+Spartan:wght@800&family=Montserrat:wght@700&family=Patrick+Hand&display=swap");
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.shop {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  justify-content: center;
  gap: 30px; }
  .shop .item {
    border: 1px solid #424242c1;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    transition: 0.7s ease; }
    .shop .item img {
      border-radius: 5px;
      width: 100%; }
    .shop .item .detalles {
      display: flex;
      flex-direction: column;
      margin: 8px; }
      .shop .item .detalles h2 {
        font-family: 'Bebas Neue';
        font-size: 16px; }
      .shop .item .detalles h3 {
        font-family: 'Bebas Neue'; }
      .shop .item .detalles .precio-cantidad {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35px; }
        .shop .item .detalles .precio-cantidad .botones {
          display: flex;
          align-items: center;
          gap: 6px;
          cursor: pointer; }
          .shop .item .detalles .precio-cantidad .botones .bi-dash {
            color: red; }
          .shop .item .detalles .precio-cantidad .botones .bi-plus {
            color: green; }
  .shop .item:hover {
    transform: scale(1.03); }

.goPay {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 12px;
  margin: 10px 0;
  border: solid #4b4b4b9e;
  background-color: #00a200;
  border-radius: 5px;
  transition: 0.5s ease; }
  .goPay a {
    text-decoration: none;
    color: #fff; }

.goPay:hover {
  background-color: #00c900;
  padding: 10px 15px; }

@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 223px); } }

@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 223px); } }

.header .nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; }
  .header .nav .titulos {
    text-align: center;
    margin: 10px; }
    .header .nav .titulos a {
      text-decoration: none; }
      .header .nav .titulos a h1 {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: #fff; }
      .header .nav .titulos a h2 {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px; }
  .header .nav a {
    text-decoration: none; }
    .header .nav a .carrito {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px; }
      .header .nav a .carrito i {
        cursor: pointer; }
      .header .nav a .carrito .cantidad {
        position: absolute;
        top: 2px;
        right: 6px;
        background-color: #d10202e8;
        padding: 2px;
        border-radius: 20%; }
      .header .nav a .carrito .bi-bag-heart {
        background-color: white;
        border-radius: 20%;
        color: black;
        padding: 8px;
        font-size: 24px; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  main .productosCarrito {
    display: grid;
    grid-template-columns: repeat(1, 350px);
    gap: 30px;
    margin-top: 10px; }
    main .productosCarrito .itemCarrito {
      display: flex;
      border: 1px solid #424242c1;
      border-radius: 5px;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
      transition: 0.7s ease; }
      main .productosCarrito .itemCarrito img {
        width: 110px;
        border-radius: 5px; }
      main .productosCarrito .itemCarrito .botones {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 14px;
        margin-left: 7px;
        margin-bottom: 20px;
        cursor: pointer; }
        main .productosCarrito .itemCarrito .botones .bi-dash {
          color: red; }
        main .productosCarrito .itemCarrito .botones .bi-plus {
          color: green; }
      main .productosCarrito .itemCarrito h3 {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        margin-left: 5px; }
      main .productosCarrito .itemCarrito .tituloPrecio {
        width: 232px;
        display: flex;
        justify-content: space-between;
        margin-left: 4px;
        margin-bottom: 20px; }
        main .productosCarrito .itemCarrito .tituloPrecio .nombre {
          margin-top: 4px; }
        main .productosCarrito .itemCarrito .tituloPrecio .precio {
          background-color: #424242c1;
          color: #fff;
          padding: 3px 6px; }
        main .productosCarrito .itemCarrito .tituloPrecio h4 {
          display: flex;
          text-transform: uppercase;
          gap: 10px;
          font-size: 14px;
          margin-top: 10px; }
        main .productosCarrito .itemCarrito .tituloPrecio .bi-x-square {
          color: red;
          margin-top: 1px;
          cursor: pointer; }
    main .productosCarrito .itemCarrito:hover {
      transform: scale(1.03); }
  main .etiqueta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    main .etiqueta .totalAPagar {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 17px; }
    main .etiqueta .cuentaContainer {
      display: flex;
      justify-content: space-between;
      width: 220px; }
      main .etiqueta .cuentaContainer .pagar,
      main .etiqueta .cuentaContainer .eliminar {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        padding: 8px 12px;
        margin: 10px 0;
        border: solid #4b4b4b9e;
        background-color: #00a200;
        border-radius: 5px;
        color: #fff; }
      main .etiqueta .cuentaContainer .pagar:hover {
        background-color: #00c900;
        transition: 0.7s ease; }
      main .etiqueta .cuentaContainer .eliminar {
        background-color: red; }
      main .etiqueta .cuentaContainer .eliminar:hover {
        background-color: #ba0000;
        transition: 0.7s ease; }
    main .etiqueta img {
      border-radius: 5px;
      margin-top: 10px;
      width: 200px; }
    main .etiqueta h3 {
      font-family: 'Montserrat', sans-serif; }
    main .etiqueta .botonVolver {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      padding: 8px 12px;
      margin: 10px 0;
      border: solid #4b4b4b9e;
      background-color: #4b4b4b9e;
      border-radius: 5px;
      transition: 0.5s ease;
      color: #fff; }
      main .etiqueta .botonVolver a {
        text-decoration: none;
        color: #fff; }
    main .etiqueta .botonVolver:hover {
      background-color: black; }
  main .botonVolverDos {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 12px;
    margin: 10px 0;
    border: solid #4b4b4b9e;
    background-color: #4b4b4b9e;
    border-radius: 5px;
    transition: 0.5s ease; }
    main .botonVolverDos a {
      text-decoration: none;
      color: #fff; }
  main .botonVolverDos:hover {
    background-color: black; }

.bannerArea {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.0117297) 0%, rgba(0, 0, 0, 0.00892857) 100%), url(../recursos/images/arosDragones.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; }
  .bannerArea .contentArea {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bannerArea .contentArea .contenido {
      height: 100%;
      text-align: center;
      position: absolute;
      top: 30vh; }
      .bannerArea .contentArea .contenido h1 {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-size: 70px;
        background-color: #1616169e;
        border-radius: 5px;
        padding: 10px 10px; }
      .bannerArea .contentArea .contenido h2 {
        font-size: 30px;
        color: #fff;
        background-color: #1616169e;
        font-family: 'Montserrat', sans-serif;
        border-radius: 5px;
        padding-bottom: 10px; }
      .bannerArea .contentArea .contenido .button {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        padding: 10px 20px;
        margin-top: 20px;
        border: solid #1616169e;
        border-radius: 5px; }
        .bannerArea .contentArea .contenido .button a {
          text-decoration: none;
          color: black; }
      .bannerArea .contentArea .contenido .button:hover {
        background-color: #212121;
        color: #fff;
        transition: 0.7s ease; }

@media (max-width: 1000px) {
  .bannerArea .contentArea .contenido h1 {
    font-size: 50px; }
  .bannerArea .contentArea .contenido h2 {
    font-size: 25px; } }

@media (max-width: 500px) {
  .bannerArea .contentArea .contenido h1 {
    font-size: 23px; }
  .bannerArea .contentArea .contenido h2 {
    font-size: 18px; } }
