@import"../scss/tools/variables.scss";
@import "./tools/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Finlandica:ital,wght@1,400;1,700&family=League+Spartan:wght@800&family=Montserrat:wght@700&family=Patrick+Hand&display=swap');
@import "./sections/productos.scss";
@import "./sections/header.scss";
@import "./sections/carrito.scss";
@import "./sections/contacto.scss";
@import"./sections/footer.scss";
@import"./sections/item.scss";
@import"./sections/sobre-nosotros.scss";

body{
    line-height: normal;
    h1{
        margin: 0;
    }
    h2{
        margin: 0;
    }
}
.index-main {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    padding-top: 62px;
    .bannerArea{
        width: 100%;
    }
}

.footer-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    margin-top: 0;

    .hrFooter {
        width: 40;
        font-size: 5px;
        color: white;
        margin: 0 !important;
    }

    .grupoUno {
        display: flex;
        justify-content: space-around;
        padding: 15px;

        a {
            text-decoration: none;
            color: #fff;
        }

        a:hover {
            font-weight: 600;
        }

        .instagram {
            transition: 0.7s ease;
        }

        .instagram:hover {
            padding: 5px;
            border-radius: 5px;
            font-weight: 200;
            background: #f09433;
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
        }
    }

    .grupoDos {
        padding: 15px;
        text-align: center;
        color: #fff;
    }

}


@font-face {
    font-family: "proxima nova";
    src: url(../recursos/fonts/ProximaNova-Regular.otf);
}