main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .productosCarrito {
        display: grid;
        grid-template-columns: repeat(1, 350px);
        gap: 30px;
        margin-top: 10px;


        .itemCarrito {
            display: flex;
            border: 1px solid #f5f5f5;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
            border-radius: 5px;
            transition: 0.7s ease;

            background-color: #fff;


            img {
                width: 110px;
                border-radius: 5px;
            }


            .botones {
                display: flex;
                align-items: center;
                gap: 6px;
                font-size: 14px;
                margin-left: 7px;
                margin-bottom: 20px;
                cursor: pointer;

                div {
                    font-family: "proxima nova";
                }

                p {
                    font-family: "proxima nova";
                }


                .bi-bag-dash {
                    color: red;

                }

                .bi-bag-plus {
                    color: green;


                }
            }

            h3 {
                font-family: "proxima nova";
                font-size: 15px;
                margin-left: 5px
            }

            .tituloPrecio {
                width: 232px;
                display: flex;
                justify-content: space-between;
                margin-left: 4px;
                margin-bottom: 20px;

                .nombre {
                    margin-top: 4px;
                }

                .precio {
                    border: 1px solid #f5f5f5;
                    box-shadow: 0 1px 1px 0 #0000001a;
                    padding: 3px 5px;
                    border-radius: 5px;
                }

                h4 {
                    display: flex;
                    text-transform: uppercase;
                    gap: 10px;
                    font-size: 14px;
                    margin-top: 10px;

                    p {
                        //font-family: 'Bebas Neue';
                        font-family: 'Montserrat', sans-serif;
                    }
                }

                .bi-x-square {
                    color: red;
                    margin-top: 1px;
                    cursor: pointer;
                }
            }
        }

        .itemCarrito:hover {
            transform: scale(1.03)
        }
    }

    .etiqueta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;

        .totalAPagar {
            font-family: "proxima nova";
            //text-transform: uppercase;
            font-size: 17px;
            border: 1px solid #f5f5f5;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
            padding: 8px 10px;
            width: 220px;
            border-radius: 5px;

        }

        .cuentaContainer {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 220px;

            .pagar,
            .eliminar {
                font-family: "proxima nova";
                //text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
                padding: 8px 10px;
                margin: 10px 0;
                border-radius: 5px;
                background-color: #3483fa;
                border-color: transparent;
                color: #fff;
                cursor: pointer;
            }

            .pagar:hover {
                background-color: #2968C8;
                transition: 0.7s ease;
            }

            .eliminar {
                color: #3483fa;
                background-color: rgba(65, 137, 230, .15);
                ;

            }

            .eliminar:hover {
                background-color: rgba(41, 100, 176, 0.15);
                transition: 0.7s ease;
            }
        }


        img {
            border-radius: 5px;
            margin-top: 10px;
            width: 200px;
        }

        h3 {
            font-family: 'Montserrat', sans-serif;
        }

        .botonVolver {
            font-family: "proxima nova";
            //text-transform: uppercase;
            font-size: 15px;
            padding: 8px 12px;
            margin: 10px 0;
            border-color: transparent;
            background-color: #4b4b4b9e;
            border-radius: 5px;
            transition: 0.5s ease;
            color: #fff;

            a {
                text-decoration: none;
                color: #fff;


            }
        }

        .botonVolver:hover {
            background-color: black;

        }
    }

    .botonVolverDos {
        font-family: 'proxima nova';
        //text-transform: uppercase;
        font-size: 15px;
        padding: 8px 10px;
        margin: 10px 0;
        border-color: transparent;
        background-color: #4b4b4b9e;
        border-radius: 5px;
        transition: 0.5s ease;
        width: 220px;
        font-weight: 600;

        a {
            text-decoration: none;
            color: #fff;


        }
    }

    .botonVolverDos:hover {
        background-color: rgba(45, 45, 45, 0.711);
    }
}

@media (max-width: 800px) {
    main {
        .productosCarrito {
            grid-template-columns: repeat(1, 350px);
        }
    }
}