.header {
    .nav {
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        position: fixed;
        width: 100%;
        z-index: 1;

        .burguer-button {
            width: 30px;
            display: none;
            cursor: pointer;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                transition: 0.5ms ease;
                a {
                    color: #fff;
                }
            }
            li:hover{
                font-weight: 600;
            }
        }

        .titulos {
            text-align: center;
            margin: 10px;
            margin-left: 80px;

            a {
                text-decoration: none;

                h1 {
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    color: #fff;
                }

                h2 {
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 15px;
                }
            }
        }

        a {
            text-decoration: none;

            .carrito {
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px;

                i {
                    cursor: pointer;
                }

                .cantidad {
                    position: absolute;
                    top: 2px;
                    right: 6px;
                    background-color: #d10202e8;
                    padding: 3px;
                    border-radius: 20%;
                    font-family: "proxima nova";
                }

                .bi-bag-heart {
                    background-color: white;
                    border-radius: 20%;
                    color: black;
                    padding: 8px;
                    font-size: 24px;
                }
            }
        }
    }
}
@media (min-width: 1000px){
    .header {
        .nav {
            .espacio{
                display: none;
            }
        }
    }
        
}

@media (max-width: 800px) {
    .header {
        .nav {
            ul {
                display: block;
                width: 100%;
                background-color: black;
                padding-bottom: 0px;
                position: absolute;
                top: 60px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                li {
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    width: 60%;
                    padding: 3px 0;
                    border-radius: 10px;

                    a {
                        font-size: 18px;

                    }
                }

                li:hover {
                    border: 2px solid rgba(255, 255, 255, 0.1);
                }
            }

            .burguer-button {
                display: block;
                position: absolute;
                top: 24px;
                left: 20px;
                width: 23px;
            }

            #menuList {
                overflow: hidden;
                transition: 0.5s;
                z-index: 2;
            }

            a {
                text-decoration: none;

                .carrito {

                    .cantidad {
                        top: 4px;
                        right: 10px;
                        background-color: #d10202e8;
                        padding: 2px;
                    }

                    .bi-bag-heart {
                        margin-right: 8px;
                        padding: 5px;
                        font-size: 22px;
                    }
                }
            }
          

            .titulos {
                margin-left: 60px;

                h1 {
                    font-size: 20px;
                }

                h2 {
                    font-size: 15px;
                }
            }
        }
    }
}