.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    justify-content: center;
    gap: 30px;

    .item {
        border: 1px solid #424242c1;
        border-radius: 5px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
        transition: 0.7s ease;

        img {
            border-radius: 5px;
            width: 100%;
        }

        .detalles {
            display: flex;
            flex-direction: column;
            margin: 8px;

            h2 {
                font-family: 'Bebas Neue';
                font-size: 16px;
            }

            h3 {
                font-family: 'Bebas Neue';
            }

            .precio-cantidad {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 35px;

                .botones {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    cursor: pointer;

                    .bi-dash {
                        color: red;
                    }

                    .bi-plus {
                        color: green
                    }
                }
            }
        }
    }
    .item:hover {
        transform: scale(1.03)
    }
}
@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(2, 223px);
    }
}
@media (max-width: 500px){
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
}